<p id="notice"><%= notice %></p>

<h1>Menus</h1>

<table id="table" data-toggle="table" data-pagination="true" data-search="true">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= link_to 'Show', menu %>
        <%= link_to 'Edit', edit_menu_path(menu) %>
        <%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_menu_path %>
